.header{
    width: 100%;
    background: orange;
    height: 150px;
}
.left-section{
    width: 20%;
    height: 661px;
    background: orchid;
    float: left;
}
.right-section{
    width: 80%;
    height: 661px;
    background: grey;
    float: left;
}
.footer{
    height: 150px;
    width: 100%;
    background: indianred;
}
.content{
    height: 661px;
}
body{
    margin: 0;
}