.outer-box{
    width: 100%;
    height: 500px;
    background: rebeccapurple;
    padding: 10px;
}

.box1{
    width: 40%;
    height: 30%;
    background: rgb(36, 185, 23);
    float: left;
    margin: 10px;
}
.box2{
    width: 40%;
    height: 30%;
    background: rgb(255, 255, 255);
    float: left;
    margin: 10px;
}
.box3{
    width: 40%;
    height: 30%;
    background: rgb(202, 117, 20);
    float: left;
    margin: 10px;
}
.box4{
    width: 40%;
    height: 30%;
    background: rgb(34, 72, 185);
    float: left;
    margin: 10px;
}