button{
    background: green;
    color: #fff;
}

#para1{
    color:hotpink;
}
#para2{
    color:rgb(144, 79, 190);
}

.content{
    color: lightblue ;
    background: lightcoral;
}

.outer-box{
    border: solid 1px;
    border-color: red;
    background: lightgreen;
    color: #fff;
    width: 300px;
    height: 200px;
}

.box{
    margin-left: 100px;
    padding-left: 50px;
}
.inner-div{
    margin: 10px;
    background: rgb(52, 113, 173);
    width: 200px;
    height: 100px;
}

